<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>AR Burrows</title>

            <!-- Root Stylesheet -->
        <link rel="stylesheet" href="./assets/css/root.css"/>

            <!-- Preconnect to Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

                <!-- Google Fonts -->
            <!-- Rubik -->
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

            <!-- Karla -->
        <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

            <!-- Shanti -->
        <link href="https://fonts.googleapis.com/css2?family=Shanti&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            
            <img src="https://picsum.photos/500/500" class="profile"/>
            <div id="overlay" class="profile"></div>
            <a id="qr-button" class="cartoon-container">
                <i class="fa-solid fa-qrcode fa-1x"></i>
            </a>
            <a id="logo-container" href="/">
                <img src="./assets/img/logo.svg">
            </a>
            <nav id="header-nav" class="cartoon-container">
                <div id="nav-handle" class="cartoon-container">
                    <i class="fa-solid fa-grip-lines-vertical fa-1x"></i>
                </div>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
                <div id="social-links">
                    <i class="fa-brands fa-square-github"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-square-facebook"></i>
                    <i class="fa-brands fa-square-twitter"></i>
                </div>
            </nav>
        </header>
        <main>
            <section id="cta" class="cartoon-container">
                <a class="btn" href="#">Button</a>
                <a class="btn" href="#">Button</a>
            </section>
            <section id="details">
                <h1>Amias Burrows</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a class="btn" href="#">My Passions</a>
            </section>
        </main>
        <footer>
            <a href="#" id="dark-mode-toggle">
                <i id="light-mode" class="fa-regular fa-sun selected"></i>
                <i id="dark-mode" class="fa-regular fa-moon"></i>
            </a>
        </footer>
    </body>
    <script id="font-awesome" src="https://kit.fontawesome.com/4c135453d1.js" crossorigin="anonymous"></script>
    <script id="jquery" src="https://code.jquery.com/jquery-latest.js"></script>
    <script id="custom-script" src="./assets/js/script.js"></script>
</html>