@import '../dark-colours';

@import '../fonts';

@import '../reusable';

@import '../animations';

@import '../section';

html {
    padding: 0;
    margin: 0;
    body {
        padding: 0;
        margin: 0;

        @import '../header/header';

        @import '../main/main';

        @import '../footer/footer';

        section {
            @include floating-block;
        }
    }
}