section {
    padding: 0 10px;
}

@mixin cartoon($background-color: $light, $color: $dark, $border-color: $const-dark) {
    border: solid 3px $border-color;
    box-shadow: rgba($const-dark, 0.3) 5px 5px 0;
    background-color: $background-color;

    i {
        color: $color;
    }
}

@mixin btn($background-color, $color) {
    background-color: $background-color;
    color: $color;
    border: solid 3px $const-dark;
    border-radius: 10px;
    padding: 10px 40px;
}

@mixin floating-block {
    @include cartoon;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
    width: 80%;
    height: 80%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0.2s;

    .section-bar {
        @include cartoon($light, $const-dark, $dark);

        width: 100%;
        height: 10%;
    }

    &.active {
        z-index: 99;
        opacity: 1;
    }
}

@mixin underline-btn-hover($color) {
    box-shadow: insert $color 0 -6px 0 0;
    transition-property: box-shadow, border-radius, padding;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    &:hover, &:active {
        box-shadow: inset $color 0 -100% 0 0;
        border-radius: 10px;
        padding: 10px 40px;
    }
}