* {
    font-family: 'Karla', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
}

a, button {
    font-family: 'Shanti', sans-serif;
}

.cartoon-container {
    border: solid 3px $dark;
}

a {
    text-decoration: none;
    color: $dark;
}