footer {
    
    #dark-mode-toggle {
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 10vw;
        height: 10vw;
        font-size: 10vw;

        i {
            font-size: 0;
            transition: font-size 0.2s ease-in-out;
            position: absolute;
            left: 0;
            bottom: 0;
        }

        .selected {
            font-size: 1em;
        }
    }
}