header {
    position: relative;
    width: 100%;
    height: 40vh;

    .profile {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    #overlay {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $const-dark;
        opacity: 0.3;
        border-style: none;
    }

    #qr-button {
        @include cartoon;

        z-index: 3;
        position: absolute;
        top: 10px;
        left: 10px;
        border-radius: 50%;
        cursor: pointer;
        width: 15vw;
        height: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 8vw;
    }

    #logo-container {
        position: fixed;
        top: 10vw;
        right: 10vw;
        width: 25vw;
        height: auto;
        z-index: 3;
    }

    #header-nav {
        @include cartoon;

        border-left-style: none;
        z-index: 3;
        position: fixed;
        top: 50%;
        left: 0;
        height: 85vh;
        width: 60vw;
        translate: 0 -50%;
        transform: translateX(0);
        transition: transform 0.5s cubic-bezier(.7, .3, .3, .5), box-shadow 0.5s ease-in-out, background-color 0.2s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &.closed {
            transform: translateX(-100%);
            box-shadow: none;
        }

        #nav-handle {
            @include cartoon($secondary, $const-dark);

            position: absolute;
            top: 30%;
            right: 0;
            transform: translateX(80%);
            width: 15vw;
            height: 13%;
            font-size: 8vw;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            cursor: pointer;
        }

        #nav-list {
            @include cartoon;

            list-style-type: none;
            padding: 0;
            width: 100%;

            li {
                width: calc(90% - 40px);
                margin-right: 10%;
                margin-bottom: 10px;
                padding: 15px 20px;
                border-radius: 0 10px 10px 0;
                text-align: right;
                position: relative;
            
                &.selected {
                    background-color: $primary;

                    a {
                        color: $const-light;
                        margin: 0 !important;
                    }
                }

                ::after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    border-radius: 50%;
                    width: 10px;
                    height: 10px;
                    transition: background-color 0.2s ease-in-out;
                }

                &:hover {
                    
                    margin-right: 20px;

                    &::after {
                        background-color: rgba($secondary, 0.2);
                    }
                }

                a {
                    transition: margin 0.2s ease-in-out;
                }
            }
        }
        
        #social-links {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            width: 90%;
            gap: 20px;

            .link {
                font-size: 20vw;
                text-align: center;
                color: $dark;

                &.main-link {
                    font-size: 30vw;
                    width: 100%;
                    i {
                        color: $primary;
                    }
                }

                &:hover {
                    i {
                        color: $secondary;
                    }
                }
            }
        }
    }
}